In [81]:
# from the following repo: https://github.com/motazsaad/process-arabic-text/blob/master/clean_arabic_text.py
import re
import string
import sys
import argparse

arabic_punctuations = '''`÷×؛<>_()*&^%][ـ،/:"؟.,'{}~¦+|!”…“–ـ'''
english_punctuations = string.punctuation
punctuations_list = arabic_punctuations + english_punctuations

arabic_diacritics = re.compile("""
                             ّ    | # Tashdid
                             ّ    | # shadda
                             ٰ    | #qasr
                             َ    | # Fatha
                             ً    | # Tanwin Fath
                             ُ    | # Damma
                             ٌ    | # Tanwin Damm
                             ۚ    | # waqf1
                             ۗ    | ##
                             ۖ    | ##
                             ۘ    | ##
                             ۙ    |##
                             ۛ    |##
                             ِ    | # Kasra
                             ٍ    | # Tanwin Kasr
                             ْ    | # Sukun
                             ـ     # Tatwil/Kashida
                         """, re.VERBOSE)
def remove_digits(text):
    text = re.sub(r"[1234567890١٢٣٤٥٦٧٨٩٠]+", "", text)
    return text

def remove_english_characters(text):
    text = re.sub(r'[a-zA-Z]+','',text)
    return text
    

def remove_diacritics(text):
    text = re.sub(arabic_diacritics, '', text)
    return text


def remove_punctuations(text):
    translator = str.maketrans('', '', punctuations_list)
    return text.translate(translator)
def Arabic_normalization(sentence):
    
    text = remove_english_characters(sentence)
    text = remove_digits(text)
    text = remove_diacritics(text)
    text = remove_punctuations(text)        
    return text

In [76]:
import pandas as pd
df = pd.read_csv("Arabic-Original.csv" ,delimiter='|')
df.head()

   surah  verse number                                     verse
0      1             1    بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ
1      1             2     الْحَمْدُ لِلَّهِ رَبِّ الْعَالَمِينَ
2      1             3                   الرَّحْمَٰنِ الرَّحِيمِ
3      1             4                   مَالِكِ يَوْمِ الدِّينِ
4      1             5  إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ

In [82]:
df['ayah']= df['verse'].apply(Arabic_normalization)
df.head()

,surah,verse number,verse,ayah
0,1,1,بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ,بسم الله الرحمن الرحيم
1,1,2,الْحَمْدُ لِلَّهِ رَبِّ الْعَالَمِينَ,الحمد لله رب العالمين
2,1,3,الرَّحْمَٰنِ الرَّحِيمِ,الرحمن الرحيم
3,1,4,مَالِكِ يَوْمِ الدِّينِ,مالك يوم الدين
4,1,5,إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ,إياك نعبد وإياك نستعين

In [70]:
x =df['ayah'][0][14]
with open("c.txt" , 'w') as f:
    f.write(str(x))

In [83]:
quranlist = df['ayah'].tolist()

In [85]:
with open('quran.txt' , 'w') as f:
    for ayah in quranlist:
        print(ayah , file=f)

In [84]:
quranlist[8]

'ذلك الكتاب لا ريب  فيه  هدى للمتقين'