In [1]:
import pandas as pd
import numpy as np

In [3]:
df =pd.read_csv('./datasets/squad_3868.csv')

In [4]:
df.head()

,Unnamed: 0,index,passage,question,answers
0,0,21130,يقال إن مصطلح الموسيقى المنزلية نشأ من نادي شي...,ما النادي الذي نشأت منه عبارة &quot;موسيقى منز...,"[{'text': 'مستودع', 'start_char': 347}]"
1,1,26229,زارت فيكتوريا البر الرئيسي لأوروبا بانتظام لقض...,لماذا زرت فيكتوريا ايرلندا في عام 1861؟,[{'text': 'للاعتراف بمساهمة الفوج الأيرلندي في...
2,2,35965,في أعقاب حل ديستني تشايلد في يونيو 2005 ، أصدر...,بعد أي فيلم يصور إيتا جيمس ، لم بيونسي خلق ساش...,"[{'text': 'في كاديلاك', 'start_char': 342}]"
3,3,33908,تم بناء أول خطوط سكك حديدية في تورينجيا في أرب...,متى تم التخلي عن معظم الخطوط الفرعية للسكك الح...,"[{'text': 'عامي 1950 و 2000', 'start_char': 307}]"
4,4,6087,ولد فريدريك شوبان في elazowa Wola ، 46 كم 29 م...,في أي قرية ولد فريديريك فيها؟,"[{'text': 'ميلا غرب', 'start_char': 45}]"